{% extends 'base.html' %}
{% block content %}
	<h2>{{ filtered.name }}</h2>
	{% if filteredType == 'genre' %}
		<div class="filter-btn">
			<div class="dropdown button-group">
		  		<button class="btn btn-info" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    		<i class="fas fa-sort"></i>
		  		</button>
		 		<div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
		 			<a class="dropdown-item" href="{% url 'genreOrder' pk=filtered.pk orderId=1 %}" name="byName">İsme Göre Artan</a>
		 			<a class="dropdown-item" href="{% url 'genreOrder' pk=filtered.pk orderId=2 %}" name="byName">İsme Göre Azalan</a>
		 			<a class="dropdown-item" href="{% url 'genreOrder' pk=filtered.pk orderId=3 %}" name="byRate">Puana Göre Artan</a>
		 			<a class="dropdown-item" href="{% url 'genreOrder' pk=filtered.pk orderId=4 %}" name="byRate">Puana Göre Azalan</a>
		  		</div>
			</div>
			<div class="dropdown button-group">
		  		<button class="btn btn-info" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		    		<i class="fas fa-filter"></i>
		  		</button>
		 		<div class="dropdown-menu scrollable-menu" aria-labelledby="dropdownMenuButton">
		 			{% for genre in genres %}
		    			<a class="dropdown-item" href="{% url 'genre' pk=genre.pk %}">{{ genre.name }}</a>
		    		{% endfor %}
		  		</div>
			</div>
		</div>
	{% endif %}
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
		{% for movie in movies %}
			<div class="col">
				<a href="{% url 'movie_detail' pk=movie.pk %}"><img src="{{ movie.poster }}"></a>
				<br>
				<p style="color: #2F4F4F">{{ movie.title }}</p>
				<br>
			</div>
		{% endfor %}
	</div>
	{% include 'parts/pagination.html' with page=posts %}
{% endblock %}
