{% load notifications_tags %}
	<div class="modal-header">
		<h3>Bildirimler</h3>
		<a class="btn" data-dismiss="modal"><i class="fas fa-times"></i></span></a>
	</div>
	{% if unreadNotifications %}
    	<div class="modal-header">
      		<h5 class="modal-title">Okunmayan Bildirimler</h5>
    	</div>
    	<div class="modal-body">
    		<div class="row">
				{% for unreadNotification in unreadNotifications %}
					{% if unreadNotification.actor and unreadNotification.verb %}
						{% if unreadNotification.action_object %}
							<div class="col-sm-9">
								<p><a href="{% url 'user_detail' pk=unreadNotification.actor.pk %}">{{ unreadNotification.actor }} </a>&nbsp<a href="{% url 'recommendMovie' pk=unreadNotification.pk %}">{{ unreadNotification.action_object }}</a>&nbsp{{ unreadNotification.verb }}</p>
							</div>
							 <div class=".col-md-4 .ml-auto">
								<a href="{% url 'read_notification' pk=unreadNotification.pk %}"><i class="far fa-eye" style="color:blue; margin-left :15px"></i></a>
								<a href="{% url 'delete_notification' pk=unreadNotification.pk %}"><i class="far fa-trash-alt" style="color:red; margin-left :15px"></i></a>
							</div>
							{% else %}
							<div class="col-sm-9">
								<p><a href="{% url 'user_detail' pk=unreadNotification.actor.pk %}">{{ unreadNotification.actor }}</a>&nbsp{{ unreadNotification.verb }}</p>
							</div>
							<div class=".col-md-4 .ml-auto">
								<a href="{% url 'read_notification' pk=unreadNotification.pk %}"><i class="far fa-eye" style="color:blue; margin-left :15px"></i></a>
								<a href="{% url 'delete_notification' pk=unreadNotification.pk %}"><i class="far fa-trash-alt" style="color:red; margin-left :15px"></i></a>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endif %}
	{% if readNotifications %}
		<div class="modal-header">
      		<h5 class="modal-title">Okunan Bildirimler</h5>
    	</div>
    	<div class="modal-body">
    		<div class="row">
				{% for readNotification in readNotifications %}
					{% if readNotification.action_object %}
						<div class="col-sm-9">
							<p>{{ readNotification.actor }} &nbsp <a href="{% url 'recommendMovie' pk=readNotification.pk %}">{{ readNotification.action_object }}</a>&nbsp{{ readNotification.verb }}</p>
						</div>
						<div class=".col-md-4 .ml-auto">
							<a href="{% url 'unread_notification' pk=readNotification.pk %}"><i class="far fa-eye-slash" style="color:blue; margin-left :15px"></i></a>
							<a href="{% url 'delete_notification' pk=readNotification.pk %}"><i class="far fa-trash-alt" style="color:red; margin-left :15px"></i></a>
						</div>
					{% else %}
						<div class="col-sm-9">
							<p><a href="{% url 'user_detail' pk=readNotification.actor.pk %}">{{ readNotification.actor }}</a>&nbsp{{ readNotification.verb }}</p>
						</div>
						<div class=".col-md-4 .ml-auto">
							<a href="{% url 'unread_notification' pk=readNotification.pk %}"><i class="far fa-eye-slash" style="color:blue; margin-left :15px"></i></a>
							<a href="{% url 'delete_notification' pk=readNotification.pk %}"><i class="far fa-trash-alt" style="color:red; margin-left :15px"></i></a>
						</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	{% endif %}
	<div class="modal-footer">
  		<button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
	</div>