{% extends 'base.html' %}
	{% block content %}
		<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
			<div class="card" style="width:400px;">
				<div class="card-header">
					<h1>Şifre Değiştirme</h1>
				</div>
				<div class="card-body">
					<form method="POST">
						{% csrf_token %}
						<div class="form-group">
							<label for="oldPassword">Eski Şifre</label>
							<input type="password" name="oldPassword" class="form-control" required>
						</div>
						<div class="form-group">
							<label for="newPassword">Yeni Şifre</label>
							<input type="password" name="newPassword" class="form-control" required>
						</div>
						<div class="form-group">
							<label for="password">Yeni Şifre Tekrar</label>
							<input type="password" name="reNewPassword" class="form-control" required>
						</div>
						<button type="submit" class="btn btn-primary">Kaydet</button>
					</form>
				</div>
			</div>
		</div>
	{% endblock %}